{
	"env": {
		"node": true,
		"browser": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 8,
		"sourceType": "module"
	},
	"rules": {
		"indent": [
			"error",
			4
		],
		"no-console": "warn",
		"no-unused-vars": "off"
	},
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"extends": "eslint:recommended"
}
